/* Universal Style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.pt-135{
    padding-top: 135px;
}
.container{
    width: 1140px;
    margin: auto;
}
/* Banner Section */
.banner-sec{
    padding: 216px 150px 166px 0;
    text-align: right;
    background-image: url(../assets/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.banner-content{
    width: 525px;
}
.banner-title{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
}
.banner-description{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}
.banner-btn{
    color: #005FAC;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
/* About Section */
.about-content-wraper{
    display: flex;
    gap: 10%;
}
.about-img{
    flex-basis: 50%;
}
.about-content{
    align-self: center;
    flex-basis: 40%;
}
.about-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-right: 10px;
    margin-bottom: 24px;
}
.about-description{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 16px;
}
.about-list{
    list-style: none;
}
.about-list li{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.about-list li i{
    color: #16D887;
    font-size: 18px;
    margin-right: 5px;
}
/* Plan Section */
.plan-section{
    text-align: center;
}
.section-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.plan-content-wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.plan img {
    width: 92px;
    margin-bottom: 24px;
}
.plan-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}
.plan-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
/* CTA Section */
.cta-section{
    padding: 135px 0;
}
.cta-section .container {
    padding: 59px 64px;
    background-image: url(../assets/gradient/gradient1.png), url(../assets/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.cta-content{
    max-width: 520px;
}
.cta-title{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.cta-btn{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
/* Footer Section */
footer{
    background-color: #151414;
    padding: 130px 0;
}
.footer-content-wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-content{
    max-width: 485px;
}
.footer-title{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}
.footer-description{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}
.footer-list{
    list-style: none;
}
.footer-list li{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.social-icon-wraper{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 32px;
}
.footer-form{
    max-width: 330px;
}
.form-title{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.email {
    padding: 21px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    display: block;
}
.submit-btn{
    padding: 20px 25px;
    background-color: #005FAC;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}